pydantic
langgraph
fastapi
uvicorn[standard]
sqlalchemy
aiosqlite
asyncpg
greenlet
bcrypt
python-jose[cryptography]
email-validator
python-multipart
openai
python-dotenv
alembic
psycopg2-binary
pypdf
tavily-python
